.app-header {
    display: flex;
    height: max-content;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,181,1) 100%);
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .heading-text {
    color: #fd2dab;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
  }
  
  .square {
    min-width: 5rem;
    min-height: 5rem;
    font-size: 50px;
    text-align: center;
    color: #fdf02d;
    font-weight: bolder;
    padding: 30px;
  }
  
  .fc-aqua {
    color: #fd2dab;
  }
  
  .fc-white {
    color: white;
  }
  
  .fw-600 {
    font-weight: bolder;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .b-bottom-right {
    border-right: 10px solid #fdf02d;
    border-bottom: 10px solid #fdf02d;
  }
  
  .b-bottom {
    border-bottom: 10px solid #fdf02d;
  }
  
  .b-right {
    border-right: 10px solid #fdf02d;
  }
  
  .clear-button {
    width: max-content;
    margin: 40px auto 10px auto;
    padding: 1rem 2rem;
    
  }
  
  
  @media only screen and (max-width: 600px) {
    .heading-text {
        color: #fd2dab;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        margin: 60px 10px;
    }
  
    .square {
        min-width: 80px;
        min-height: 80px;
        font-size: 32px;
        font-weight: bolder;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .b-bottom-right {
        border-right: 10px solid #fdf02d;
        border-bottom: 10px solid #fdf02d;
    }
  
    .b-bottom {
        border-bottom: 10px solid #fdf02d;
    }
  
    .b-right {
        border-right: 10px solid #fdf02d;
    }
  
    .clear-button {
        width: max-content;
        margin: 40px auto 10px auto;
    }
  }